<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>BAHARPOTA PREMTIRTHA RURAL DEVLOPMENT SOCIETY</title>
  <%= stylesheet_link_tag "style" %>
<body>
  <div id="main">
    <div id="links"></div>
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1>Baharpota <span class="alternate_colour">Premtirtha </span>Rural <span class="alternate_colour">Devlopment </span>Society</h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="tab_selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="<%= params[:action] == 'index' ? 'tab_selected' : ''%>"><%= link_to "Home", root_path%></li>
          <li class="<%= params[:action] == 'education' ? 'tab_selected' : ''%>"><%= link_to "Education", education_path%></li>
          <li class="<%= params[:action] == 'health' ? 'tab_selected' : ''%>"><%= link_to "Health", health_path%></li>
          <li class="<%= params[:action] == 'contact' ? 'tab_selected' : ''%>"><%= link_to "Contact Us", contact_path%></li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div id="footer">Copyright &copy; Bprds. All Rights Reserved. </div>
  </div>
</body>
</html>

